body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("background-imageLogin.jpg");
    background-size: cover;
    color: #fff;
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex; /* נשתמש ב-flexbox */
    flex-direction: column; /* כדי שה-elements יהיו מסודרים בעמוד */
    justify-content: center; /* למרכז את ה-elements לכיווני המרכז */
    align-items: center; /* למרכז את ה-elements לכיווני המרכז */
}

.login-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.login-input {
    width: calc(100% - 20px); /* נכנס לפנים מה-padding */
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* הוספתי זאת כדי שה-padding יתווסף לפנים של ה-input ולא יתווסף לגודל הכללי שלו */
    text-align: center;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
}

.login-button, .register-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-button:hover, .register-button:hover {
    background-color: rgb(209, 219, 219);
    color: rgb(114, 123, 123);
}

.login-button {
    background-color: #007bff;
    color: #fff;
}

.register-button {
    background-color: #28a745;
    color: #fff;
}
